-r ./py-deploy/requirements.txt
contract-deploy-tools
flake8
mypy
pytest
texttable
setuptools_scm
# require a recent pip version, otherwise make install may silently fail to
# install the newly compiled contracts
pip>=18.1
black==20.8b0   # to make it work with click
pre-commit>=2.20.0
setuptools
pip-tools
