-r ./py-deploy/requirements.txt
contract-deploy-tools
flake8
mypy
pytest
texttable
setuptools_scm
# require a recent pip version, otherwise make install may silently fail to
# install the newly compiled contracts
pip>=18.1
black
pre-commit
setuptools
pip-tools
